{% extends "portfolio/base.html" %}

{% load static %}

{% block content %}

<div class="row justify-content-center my-3">
  <div class="col-5">
    <img src="{% static 'portfolio/aishmain.png' %}" height="700" width="700" class="img-fluid">
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-9 text-center">
    <h1 id="hometext" class="font-weight-bold">Hey! I'm Aishwary a Scripty basically a JS lover guy and lives in Delhi 😊</h1>
  </div>
    <div class="col-md-9 text-center">
        <p id="homepara">Aishwary is also a Graphic and UI designer who has served more than <i>Hundreds</i>
            of clients across the globe. Currently exploring the tech's to make his vision into reality.</p>
    </div>
</div>

<h2 class="mt-5">Portfolio</h2>
    <p class="mt-2">Below are the projects is being done by me.</p>
<hr>
<div class="row">
  {% for project in projects %}
  <div class="col-lg-4 col-md-6">

    {% if project.url %}
    <a href="{{ project.url }}">
      <img src="{{ project.image.url }}" class="img-fluid mb-2">
    </a>
    {% else %}

    <img src="{{ project.image.url }}" class="img-fluid mb-2">
    {% endif %}
    <h3>{{ project.title }}</h3>
    <p>{{ project.description }}</p>

  </div>
  {% endfor %}
</div>

{% endblock %}
